/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-addev {
  background-image: url(../img/sprite.png);
  background-position: -55px -177px;
  width: 55px;
  height: 40px;
}
.icon-box {
  background-image: url(../img/sprite.png);
  background-position: -131px 0px;
  width: 51px;
  height: 48px;
}
.icon-clients {
  background-image: url(../img/sprite.png);
  background-position: -51px -80px;
  width: 51px;
  height: 48px;
}
.icon-clock {
  background-image: url(../img/sprite.png);
  background-position: -231px -41px;
  width: 41px;
  height: 41px;
}
.icon-diagramma {
  background-image: url(../img/sprite.png);
  background-position: -80px 0px;
  width: 51px;
  height: 48px;
}
.icon-dollar {
  background-image: url(../img/sprite.png);
  background-position: -231px 0px;
  width: 41px;
  height: 41px;
}
.icon-heart {
  background-image: url(../img/sprite.png);
  background-position: 0px -80px;
  width: 51px;
  height: 48px;
}
.icon-ok {
  background-image: url(../img/sprite.png);
  background-position: -182px -98px;
  width: 41px;
  height: 41px;
}
.icon-our-team {
  background-image: url(../img/sprite.png);
  background-position: -231px -82px;
  width: 36px;
  height: 36px;
}
.icon-photog {
  background-image: url(../img/sprite.png);
  background-position: 0px -177px;
  width: 55px;
  height: 40px;
}
.icon-play {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 80px;
  height: 80px;
}
.icon-select1 {
  background-image: url(../img/sprite.png);
  background-position: -182px 0px;
  width: 49px;
  height: 49px;
}
.icon-select2 {
  background-image: url(../img/sprite.png);
  background-position: -182px -49px;
  width: 49px;
  height: 49px;
}
.icon-select3 {
  background-image: url(../img/sprite.png);
  background-position: -49px -128px;
  width: 49px;
  height: 49px;
}
.icon-select4 {
  background-image: url(../img/sprite.png);
  background-position: -131px -48px;
  width: 49px;
  height: 49px;
}
.icon-select5 {
  background-image: url(../img/sprite.png);
  background-position: -98px -128px;
  width: 49px;
  height: 49px;
}
.icon-select6 {
  background-image: url(../img/sprite.png);
  background-position: 0px -128px;
  width: 49px;
  height: 49px;
}
.icon-ux {
  background-image: url(../img/sprite.png);
  background-position: -110px -177px;
  width: 55px;
  height: 40px;
}
.icon-web {
  background-image: url(../img/sprite.png);
  background-position: -165px -177px;
  width: 55px;
  height: 40px;
}
