*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body{
    margin: 0;
    color: #616161;
    font: 300 15px/1 "poppins", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover, a:active{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-weight: normal;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover, button:active, button:focus{
    outline: none !important;
}

.icon {
    display: inline-block;
}
.btn{
    color: #fff;
    text-transform: uppercase;
    padding: 15px 40px;
}
.btn:hover{
    color: #fff;
}
.def-section{
    padding: 100px 0;
}
.def-section-gray{
    padding: 100px 0;
    background-color: #f7f7f7;
}
.def-section-black{
    padding: 100px 0;
    background-color: #3f4049;
}
.title{
    display: block;
    font-family: "LibreBaskerville", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #313131;
}
.img-icon{
    display: block;
    margin-bottom: 30px;
}
p{
    line-height: 1.8em;
}

/* =====Start Header===== */
.header-block{
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo{
    margin-right: auto;
}

.nav-header a+a{
    margin-left: 22px;
}
.nav-header a:hover{
    color: #fc5f45;
}
/* =====End Header===== */

/* =====Start Main Section===== */
.main-section{
    background-color: #3f4049;
    padding: 75px 0px;
}
.main-content{
    width: 820px;
    text-align: center;
    margin: auto;
}
.main-content h1{
    font-size: 60px;
    color: #fff;
    font-family: "LibreBaskerville", sans-serif;
    margin-bottom: 50px;
}
.btn-orange{
    border: 1px solid #fc5f45;
    border-radius: 30px;
}
.btn-orange:hover{
    border: 1px solid #fc5f45;
    border-radius: 30px;
    background-color: #fc5f45;
}
.main-tabs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 70px;
}
.tab-menu{
    min-width: 200px;
}

/* =====End Main Section===== */

/* =====Start About Us===== */
.about-us-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}
.about-us-left img{
    display: block;
    border: 10px solid #a3a3a3;
}
.about-us-right{
    display: block;
    padding: 80px 60px;
    background-color: #fff;
    border-bottom: 2px solid #fc5f45;
    margin-left: -10%;
    -webkit-box-shadow: 1px -1px 15px #a3a3a3;
    box-shadow: 1px -1px 15px #a3a3a3;
}
.about-us-right .about-us-content p+p{
    margin-top: 40px;
}
/* =====End About Us===== */

/* =====Start Our Focus===== */
.name-block{
    position: relative;
    text-align: center;
}
.title-min{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #313131;
    margin-bottom: 35px;
}
.our-focus .row-our-focus{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.tab-block{
    text-align: center;
    padding: 50px 30px;
    margin-top: 50px;
    width: 250px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px #a3a3a3;
    box-shadow: 0 0 20px #a3a3a3;
}
.border1{
    border-bottom: 3px solid #fc5f45;
}
.border2{
    border-bottom: 3px solid #38c695;
}
.border3{
    border-bottom: 3px solid #b27cf5;
}
.border4{
    border-bottom: 3px solid #feb960;
}
/* =====End Our Focus===== */

/* =====Start Play Video===== */
.pv-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
}
.pv-title{
    margin-bottom: 30px;
    font-size: 30px;
}
.pv-text{
    margin-top: 30px;
}
/* =====End Play Video===== */

/* =====Start Portfolio===== */
.content-potrfolio{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 50px;
}
.block-portf{
    display: block;
    width: 31%;
    margin: 5px;
}