*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body{
    margin: 0;
    color: #616161;
    font: 300 15px/1 "poppins", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover, a:active{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-weight: normal;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover, button:active, button:focus{
    outline: none !important;
}

.icon {
    display: inline-block;
}
.btn{
    color: #fff;
    text-transform: uppercase;
    padding: 15px 40px;
}
.btn:hover{
    color: #fff;
}
.def-section{
    padding: 100px 0;
}
.def-section-gray{
    padding: 100px 0;
    background-color: #f7f7f7;
}
.def-section-black{
    padding: 100px 0;
    background-color: #3f4049;
}
.title{
    display: block;
    font-family: "LibreBaskerville", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #313131;
}
.title-min{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #313131;
    margin-bottom: 35px;
}
.img-icon{
    display: block;
    margin-bottom: 30px;
}
p{
    line-height: 1.8em;
}
.color1{
    color: #fc5f45;
}
.color2{
    color: #38c695;
}
.color3{
    color: #b27cf5;
}
.color4{
    color: #feb960;
}
.border-bot1{
    border-bottom: 2px solid #fc5f45;
}
.border-bot2{
    border-bottom: 2px solid #38c695;
}
.border-bot3{
    border-bottom: 2px solid #b27cf5;
}
.border-bot4{
    border-bottom: 2px solid #feb960;
}
.border1{
    border: 2px solid #fc5f45;
}
.border2{
    border: 2px solid #38c695;
}
.border3{
    border: 2px solid #b27cf5;
}
.border4{
    border: 2px solid #feb960;
}
.bg-color1{
    background-color: #fc5f45;
}
.bg-color2{
    background-color: #38c695;
}
.bg-color3{
    background-color: #b27cf5;
}
.bg-color4{
    background-color: #feb960;
}

/* =====Start Header===== */
.header-block{
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo{
    margin-right: auto;
}

.nav-header a+a{
    margin-left: 22px;
}
.nav-header a:hover{
    color: #fc5f45;
}
/* =====End Header===== */

/* =====Start Main Section===== */
.main-section{
    background-color: #3f4049;
    padding: 75px 0px;
}
.main-content{
    width: 820px;
    text-align: center;
    margin: auto;
}
.main-content h1{
    font-size: 60px;
    color: #fff;
    font-family: "LibreBaskerville", sans-serif;
    margin-bottom: 50px;
}
.btn-orange{
    border: 1px solid #fc5f45;
    border-radius: 30px;
}
.btn-orange:hover{
    border: 1px solid #fc5f45;
    border-radius: 30px;
    background-color: #fc5f45;
}
.main-tabs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 70px;
}
.tab-menu{
    min-width: 200px;
}

/* =====End Main Section===== */

/* =====Start About Us===== */
.about-us-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}
.about-us-left img{
    display: block;
    border: 10px solid #a3a3a3;
}
.about-us-right{
    display: block;
    padding: 80px 60px;
    background-color: #fff;
    border-bottom: 2px solid #fc5f45;
    margin-left: -10%;
    -webkit-box-shadow: 1px -1px 15px #a3a3a3;
    box-shadow: 1px -1px 15px #a3a3a3;
}
.about-us-right .about-us-content p+p{
    margin-top: 40px;
}
/* =====End About Us===== */

/* =====Start Our Focus===== */
.name-block{
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.our-focus .row-our-focus{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.tab-block{
    text-align: center;
    padding: 50px 30px;
    width: 250px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px #a3a3a3;
    box-shadow: 0 0 20px #a3a3a3;
}

/* =====End Our Focus===== */

/* =====Start Play Video===== */
.pv-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
}
.pv-title{
    margin-bottom: 30px;
    font-size: 30px;
}
.pv-text{
    margin-top: 30px;
}
/* =====End Play Video===== */

/* =====Start Portfolio===== */
.content-potrfolio{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.block-portf{
    display: block;
    width: 31%;
    margin: 5px;
}
/* =====End Portfolio===== */

/* =====Start Our Team===== */
.our-team .our-team-tab .nav-tabs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 0;
}
.our-team .our-team-tab .nav-tabs a{
    padding: 0;
    margin: 0;
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
}
.our-team .our-team-tab .nav-tabs>li{
    width: 23%;
    text-align: center;
    background-color: #fff;
}
.our-team .our-team-tab .nav>li>a:focus, .nav>li>a:hover{
    background-color: #fff;
}
.team-photo{
    display: block;
    border: 5px solid #fff;
}
.tab-content{
    margin-top: 50px;
    padding: 70px;
    background-color: #fff;
}
/* ====End Our Team==== */

/* ====Start Progress==== */
.progress-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.outset{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.inset{
    display: block;
    width: 7px;
    height: 7px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
.prog-num{
    display: block;
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
}
.prog-name{
    display: block;
    margin-bottom: 20px;
}
.progress-form .progress-block div+div {
    margin-left: 50px;
}
/* ====End Progress==== */

/* ====Start Work Steps==== */
.steps-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.text-step{
    display: block;
    width: 460px;
    padding: 60px 60px 60px 100px;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px #a3a3a3;
    box-shadow: 0 0 20px #a3a3a3;
}
.num-step{
    position: absolute;
    margin-left: -75px;
    margin-top: -35px;
    font-size: 40px;
    color: #bbb;
}
.num-step::after{
    content: "";
    border-bottom: 1px solid #bbb;
    display: block;
    width: 90px;
    margin-top: -10px;
    margin-left: -6px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.text-step-left{
    margin-left: -20%;
    margin-top: -2%;
}
.text-step-right{
    margin-left: 27%;
    margin-top: -2%;
}